.orders {

    // text-align: center;
    // font-size: 20px;

    height: 1188px;
    width: 1135px;
    margin: 0px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;


}