.subTabs {
    border: 1px solid black;
    height: 41px;
    margin: 0px 15px;
    background: #7D869A 0% 0% no-repeat padding-box;
    opacity: 1;
    position: relative;


    .sent {
        position: absolute;
        top: 9px;
        left: 10px;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border-radius: 11px;
        opacity: 1;
        text-align: left;
        font: normal normal normal 10px/11px Arial;
        letter-spacing: 0px;
        color: #3A3A3A;
        padding: 6px 20px;
        border: none;
    }

    .errors {
        position: absolute;
        top: 9px;
        left: 102px;
        background: none;
        border-radius: 11px;
        opacity: 1;
        text-align: left;
        font: normal normal normal 10px/11px Arial;
        letter-spacing: 0px;
        color: #FFFFFF;
        padding: 6px 20px;
        border: none;

    }

    .header {
        position: absolute;
        top: 9px;
        left: 505px;
        text-align: center;
        font: normal normal 600 16px/22px Open Sans;
        letter-spacing: 0px;
        color: #FFFFFF;
        opacity: 1;
    }

}