.tabs {
    height: 81px;
    margin: 0px 15px;
    background: rgba(242, 242, 242, 1) 0% 0% no-repeat padding-box;
    opacity: 1;
    position: relative;

    .tabsContainer {
        height: 40px;
        width: 833px;
        position: absolute;
        top: 40px;
        left: 151px;

        display: flex;
        justify-content: space-between;

        div {
            width: 165px;
            height: 40px;

            background: rgba(210, 210, 210, 1) 0% 0% no-repeat padding-box;
            opacity: 1;

            text-align: center;
            font: normal normal bold 12px/14px Arial;
            letter-spacing: 0px;
            color: rgba(58, 58, 58, 1);
            opacity: 1;

            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}