.userImage {
    width: 97px;
    height: 125px;
    background: #EDF5FF 0% 0% no-repeat padding-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;

    i {
        font-size: 72px;
        color: #FFFFFF;      
    }

    span {
        text-align: left;
        font: normal normal normal 10px/11px Arial;
        letter-spacing: 0px;
        color: #333333;
    }
}